<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>{% block title %}DLE{% endblock title %}</title>
        <link rel="icon" href="{% static 'search/dle-logo.png' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'search/styles.css' %}" rel="stylesheet">

        {% block head %}{% endblock %}
    </head>
    <body>
        {% include 'search/header.html' %}
        <div class="content">{% block content %}{% endblock %}</div>
        {% block footer_scripts %}{% endblock %}
    </body>
</html>
