{% block header %}
 <header class="header">
     <div class="brand">
        <a class="brand-logo" href="{% url 'search:index' %}">Drug Label Explorer</a>
     </div>
     <div>
         <ul class="nav">
            <!--navigation tool for moving to different pages-->
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'compare:index' %}"> Compare Labels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:my_labels' %}"> My Labels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
     </div>
 </header>
{% endblock %}