<div class="relative">
  <datalist id="search_typeahead_list">
    {% for option in type_ahead_datalist %}
    <option value="{{option}}"></option>
    {% endfor %}
  </datalist>
  <input
    autofocus
    type="search"
    name="search_text"
    id="search_text"
    class="h-14 pr-8 pl-5 rounded z-0 focus:shadow focus:outline-none border"
    placeholder="Search labels..."
    size="50"
    list="search_typeahead_list"
    required
  />
  <div class="absolute top-4 right-3">
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
    </button>
  </div>
</div>
