<div class="flex space-x-6">
  <div class="flex-column space-y-1">
    <div class="form-check">
      <input
        class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-400 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        type="checkbox"
        id="manufacturer_check"
        value="true"
        name="include_manufacturer"
        hx-get="/search"
        hx-trigger="click"
        hx-swap="beforeend"
        hx-target="#search_typeahead_list"
      />
      <label
        class="form-check-label inline-block text-gray-800"
        for="manufacturer_check"
        >Manufacturer</label
      >
    </div>
    <div class="form-check">
      <input
        class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-400 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        type="checkbox"
        id="generic_name_check"
        value="true"
        name="include_generic_name"
        hx-get="/search"
        hx-trigger="change"
        hx-swap="beforeend"
        hx-target="#search_typeahead_list"
      />
      <label
        class="form-check-label inline-block text-gray-800"
        for="generic_name_check"
        >Generic Name</label
      >
    </div>
    <div class="form-check">
      <input
        class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        type="checkbox"
        id="active_ingredients_check"
        value="true"
        name="include_active_ingredients"
        hx-get="/search"
        hx-trigger="click"
        hx-swap="beforeend"
        hx-target="#search_typeahead_list"
      />
      <label
        class="form-check-label inline-block text-gray-800"
        for="active_ingredients_check"
        >Active Ingredients</label
      >
    </div>
    <div class="form-check">
      <input
        class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-400 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        type="checkbox"
        id="ndc"
        value="true"
        name="include_ndc"
        hx-get="/search"
        hx-trigger="click"
        hx-swap="beforeend"
        hx-target="#search_typeahead_list"
      />
      <label
        class="form-check-label inline-block text-gray-800"
        for="ndc"
        >NDC</label
      >
    </div>
    <div class="form-check">
      <input
        class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-400 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        type="checkbox"
        id="unii"
        value="true"
        name="include_unii"
        hx-get="/search"
        hx-trigger="click"
        hx-swap="beforeend"
        hx-target="#search_typeahead_list"
      />
      <label
        class="form-check-label inline-block text-gray-800"
        for="unii"
        >UNII</label
      >
    </div>
  </div>
  <div class="flex-column space-y-1">
    <div class="form-check">
      <input
        class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-400 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        type="checkbox"
        id="brand_name"
        value="true"
        name="include_brand_name"
        hx-get="/search"
        hx-trigger="click"
        hx-swap="beforeend"
        hx-target="#search_typeahead_list"
      />
      <label
        class="form-check-label inline-block text-gray-800"
        for="brand_name"
        >Brand Name</label
      >
    </div>
    <div class="form-check">
      <input
        class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-400 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        type="checkbox"
        id="source_name"
        value="true"
        name="include_source_name"
        hx-get="/search"
        hx-trigger="click"
        hx-swap="beforeend"
        hx-target="#search_typeahead_list"
      />
      <label
        class="form-check-label inline-block text-gray-800"
        for="source_name"
        >Source Name</label
      >
    </div>
    <div class="form-check">
      <input
        class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-400 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        type="checkbox"
        id="class_name"
        value="true"
        name="include_class_name"
        hx-get="/search"
        hx-trigger="click"
        hx-swap="beforeend"
        hx-target="#search_typeahead_list"
      />
      <label
        class="form-check-label inline-block text-gray-800"
        for="class_name"
        >Class Name</label
      >
    </div>
    <div class="form-check">
      <input
        class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-400 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        type="checkbox"
        id="marketing_category"
        value="true"
        name="include_marketing_category"
        hx-get="/search"
        hx-trigger="click"
        hx-swap="beforeend"
        hx-target="#search_typeahead_list"
      />
      <label
        class="form-check-label inline-block text-gray-800"
        for="marketing_category"
        >Marketing Category</label
      >
    </div>
    <div class="form-check">
      <input
        class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-400 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        type="checkbox"
        id="country"
        value="true"
        name="include_country"
        hx-get="/search"
        hx-trigger="click"
        hx-swap="beforeend"
        hx-target="#search_typeahead_list"
      />
      <label
        class="form-check-label inline-block text-gray-800"
        for="country"
        >Country</label
      >
    </div>
  </div>
</div>
