<div class="ml-3 mt-3 grid grid-cols-2 gap-y-3 items-center">
{% include "search/search_landing/section_select.html" %}
{% include "search/search_landing/agency_dropdown.html" %}
{% include "search/search_landing/manufacturer_input.html" %}
{% include "search/search_landing/generic_name_input.html" %}
{% include "search/search_landing/brand_name_input.html" %}
<!-- {% include "search/search_landing/marketing_category_input.html" %}
{% include "search/search_landing/ndc_input.html" %} -->
</div>

