<div class="relative">
  <input
    autofocus
    type="search"
    name="productsection[query]"
    id="search_text"
    class="h-14 pr-8 pl-5 rounded z-0 focus:shadow focus:outline-none border"
    placeholder="Search for text within drug labels (e.g. rash)"
    size="100"
    list="search_typeahead_list"
    required
  />
  <button class="h-14 shadow-lg px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors navy blue duration-200 transform bg-#19a2af; rounded-md hover:bg-#19a2af; focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
    Search
  </button>  
</div>
