<form id="search_landing_form" method="get" action="/search/es_search" onsubmit="displaySearchIndicator()">
  <input type="hidden" name="page" value="1" >
  <div class="flex justify-center">
  <div id="progress_container"></div>
</div>
  {% include "search/search_landing/search_form_text_input.html" %}
</form>

{% block footerscripts %}
<script>

  function displaySearchIndicator() {
    
    const inputSearchText = document.getElementById("search_text");
    inputSearchText.classList.add("bg-slate-200");
    const progressContainer = document.getElementById("progress_container");
    progressContainer.innerHTML = "Processing search...";
  }
</script>
{% endblock %}