{% extends "search/base.html" %}

{% block head %}
<script src="https://cdn.tailwindcss.com"></script>
<script
  src="https://unpkg.com/htmx.org@1.7.0"
  integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo"
  crossorigin="anonymous"></script>
<style>
  /* clears the ‘X’ from Internet Explorer */
  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  input::-webkit-calendar-picker-indicator {
    display: none !important;
  }
</style>
{% endblock %}

{% block content %}
{% load static %}
<div class="grid place-items-center">
  <div class="h-1/4 w-1/4 mb-20 pb-20">
    <img src="{% static 'search/dle-logo.png' %}" alt="Drug Label Explorer">
  </div>
  <div>{% include "search/search_landing/search_form.html" %}</div>
</div>
{% endblock content %}
