asgiref==3.5.0
backports.zoneinfo==0.2.1;python_version<"3.9"
beautifulsoup4==4.10.0
bleach==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
cycler==0.11.0
diff-match-patch==20200713
Django==4.1.8
django-environ==0.9.0
djangorestframework==3.14.0
elasticsearch-django==8.2
eland[pytorch]==8.3.0
et-xmlfile==1.1.0
fonttools==4.32.0
gensim==4.1.2
gunicorn==20.1.0
idna==3.3
kiwisolver==1.4.2
lxml==4.8.0
matplotlib==3.5.1
mypy-extensions==0.4.3
numpy==1.22.3
openpyxl==3.0.9
packaging
pandas==1.4.1
pathspec==0.9.0
Pillow==9.1.0
platformdirs==2.5.1
psycopg2==2.9.5
PyMuPDF==1.19.6
pyparsing==3.0.8
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
requests==2.27.1
scipy==1.8.0
selenium==4.8.3
six==1.16.0
smart-open==5.2.1
soupsieve==2.3.1
sqlparse==0.4.2
tomli==2.0.1
typing-extensions==4.1.1
urllib3==1.26.9
webencodings==0.5.1
pdfplumber==0.8.0
Levenshtein==0.20.9
tqdm==4.65.0
sentence_transformers==2.2.2
django_extensions==3.2.1