
{% extends "compare/layout.html" %}
{% block header %}
{% endblock header %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if dl3 %}
            <h6> Comparing drugs 
                <b>{{dl1.product_name|title}}</b>, 
                <b>{{dl2.product_name|title}}</b>, and 
                <b>{{dl3.product_name|title}}</b>:
            </h6>
            {% else %}
            <h6> Comparing drugs 
                <b>{{dl1.product_name|title}}</b> and 
                <b>{{dl2.product_name|title}}</b>:
            </h6>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <table id="section-table">
            <tr>
            <td class="section-td">
                <dl>
                    <dt>Product Name: <a href=/data/{{dl1.id}}>{{ dl1.product_name|title }}</a></dt>
                    <dt>Generic Name: {{ dl1.generic_name|title }}</dt>
                    <dt>Version Date: {{ dl1.version_date }}</dt>
                    <dt>Product Number: {{ dl1.source_product_number }}</dt>
                    <dt>Marketer: {{ dl1.marketer|title }}</dt>
                    <dt>Source: {{ dl1.source }}</dt>
                </dl>
            </td>
            <td class="section-td">
                <dl>
                    <dt>Product Name: <a href=/data/{{dl2.id}}>{{ dl2.product_name|title }}</a></dt>
                    <dt>Generic Name: {{ dl2.generic_name|title }}</dt>
                    <dt>Version Date: {{ dl2.version_date }}</dt>
                    <dt>Product Number: {{ dl2.source_product_number }}</dt>
                    <dt>Marketer: {{ dl2.marketer|title }}</dt>
                    <dt>Source: {{ dl2.source }}</dt>
                </dl>
            </td>
            {% if dl3 %}
                <td class="section-td"> 
                    <dl>
                        <dt>Product Name: <a href=/data/{{dl3.id}}>{{ dl3.product_name|title }}</a></dt>
                        <dt>Generic Name: {{ dl3.generic_name|title }}</dt>
                        <dt>Version Date: {{ dl3.version_date }}</dt>
                        <dt>Product Number: {{ dl3.source_product_number }}</dt>
                        <dt>Marketer: {{ dl3.marketer|title }}</dt>
                        <dt>Source: {{ dl3.source }}</dt>
                    </dl>
                </td>
            {% endif %}
            </tr>
            </table>
        </div>
        <!-- <br> -->
        <!-- Filter by section -->
        <!-- <div class="row"> Filter By Section:  
            <select id="filterSection" onchange="showSection()">
                <option value="all">Select Sections </option>
                {% for section in sections %}
                <option value="{{section.section_name}}">{{ section.section_name }}</option>
                {% endfor %}
            </select>
        </div> -->

        {% if sections %}
            {% for section in sections %}
                <button type="button" class="collapsible"> > {{ section.section_name }}</button>
                <div class="row sec-content" style="display:none">
                    <table class="section-table" id="sectionTable">
                        <tr id="#{{section.section_name}}">
                          <td class="section-td"><p>{{ section.section_text1|safe }}</p></td>
                          <td class="section-td"><p>{{ section.section_text2|safe }}</p></td>
                          {% if section.section_text3 %}
                            <td class="section-td"><p>{{ section.section_text3|safe }}</p></td>
                          {% endif %}
                        </tr>
                    </table>
                </div>
            {% endfor %}
        {% else %}
            <p>No section texts are found.</p>
        {% endif %}
    </div>
{% endblock content %}
{% block footer_scripts %}
    <script>
        /**
         * Get all section heading button elements
         */
        var coll = document.getElementsByClassName("collapsible");
        var i;

        /**
         * Add event listener to all buttons to make section content 
         * collapsible. When a section button is clicked, the section 
         * content will show or hide.
         */
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }

        function showSection() {
            var selected_sec = document.getElementById("filterSection").value;
            console.log("selected option is: " + selected_sec)
            if (selected_sec.toUpperCase() == 'ALL') {
                const mytable = document.getElementById('sectionTable');
                console.log("my tabel is: " + mytable);
                mytable.style.display = "block";
            } else {
                const mytable = document.getElementById('sectionTable');
                mytable.style.display = "none";
                console.log("my tabel is: " + mytable);
                // $('#{{selected_sec}}').show();                
            }
        }
    </script>
{% endblock footer_scripts %}
