
{% extends "compare/layout.html" %}
{% block header %}
{% endblock header %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h6> Comparing versions dated 
                <b> {{dl1.version_date }}</b> and 
                <b>{{dl2.version_date }}</b>:
            </h6>
        </div>
        <br>
        <div class="row">
            <table class="section-table">
            <tr>
                <td class="section-td">
                    <dl>
                        <dt>Product Name: <a href=/data/{{dl1.id}}>{{ dl1.product_name|title }}</a></dt>
                        <dt>Generic Name: {{ dl1.generic_name|title }}</dt>
                        <dt>Version Date: {{ dl1.version_date }}</dt>
                        <dt>Product Number: {{ dl1.source_product_number }}</dt>
                        <dt>Marketer: {{ dl1.marketer|title }}</dt>
                        <dt>Source: {{ dl1.source }}</dt>
                    </dl>
                </td>
                <td class="section-td">
                    <dl>
                        <dt>Product Name: <a href=/data/{{dl1.id}}>{{ dl2.product_name|title }}</a></dt>
                        <dt>Generic Name: {{ dl2.generic_name|title }}</dt>
                        <dt>Version Date: {{ dl2.version_date }}</dt>
                        <dt>Product Number: {{ dl2.source_product_number }}</dt>
                        <dt>Marketer: {{ dl2.marketer|title }}</dt>
                        <dt>Source: {{ dl2.source }}</dt>
                    </dl>
                </td>
            </tr>
            </table>
        </div>
        <hr>
        <div class="row" id="sectionFilterContainer">   
            <label for="section-filter">Select Section: </label>
            <select name="section-filter" id="sectionFilter" onchange="showSection()">
                <option value="all">All Sections </option>
                {% for sec_name in section_names %}
                <option value="{{sec_name|cut:' '}}">{{ sec_name|title }}</option>
                {% endfor %}
            </select>
        </div>
        {% if sections %}
            {% for section in sections %}
                <div class="row sec-content" id="{{section.section_name|cut:' '}}" style="display:block">
                    <button type="button" class="collapsible"> > {{ section.section_name|title }}</button>
                    <table class="section-table" style="display:none">
                        <tr>
                          <td class="{{ section.textMatches }} section-td" style="width:50%">
                              <p>
                                {% for tuple in section.section_text1 %}
                                    {% if tuple.0 == 0 %}
                                        {{ tuple.1|safe }}
                                    {% elif tuple.0 == -1 %}
                                        <span class="diff-text-highlight">{{ tuple.1 }}</span>
                                    {% endif %}
                                {% endfor %}
                              </p>
                          </td>
                          <td class="{{ section.textMatches }} section-td" style="width:50%">
                              <p>
                                {% for tuple in section.section_text2 %}
                                    {% if tuple.0 == 0 %}
                                        {{ tuple.1|safe }}
                                    {% elif tuple.0 == 1 %}
                                        <span class="diff-text-highlight">{{ tuple.1 }}</span>
                                    {% endif %}
                                {% endfor %}

                              </p>
                          </td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        {% else %}
            <p>No section texts are found.</p>
        {% endif %}
    </div>
{% endblock content %}
{% block footer_scripts %}
    <script>
        /**
         * Get all section heading button elements
         */
        var coll = document.getElementsByClassName("collapsible");
        var i;

        /**
         * Add event listener to all buttons to make section content 
         * collapsible. When a section button is clicked, the section 
         * content will show or hide.
         */
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }

        /**
         * Show/hide the section expansion buttons based on users
         * selection from the drop down filter.
         */
        function showSection() {
            var selected_sec = document.getElementById("sectionFilter").value;
            if (selected_sec == 'all') {
                const sec_divs = document.getElementsByClassName('sec-content');

                for (const div of sec_divs) {
                    div.style.display = 'block';
                    var tbl = div.getElementsByTagName('table')[0];
                    tbl.style.display = "none";
                    var btn = div.getElementsByTagName('button')[0];
                    btn.classList.remove('active');
                }
            } else {
                const sec_divs = document.getElementsByClassName('sec-content');

                for (const div of sec_divs) {
                    div.style.display = 'none';
                }
                sec_div = document.getElementById(selected_sec);
                sec_div.style.display = "block";              
            }
        }
    </script>
{% endblock footer_scripts %}
