
{% extends "compare/layout.html" %}
{% block header %}
{% endblock header %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if dl3 %}
            <h6> Comparing drugs 
                <b>{{dl1.product_name|title}}</b>, 
                <b>{{dl2.product_name|title}}</b>, and 
                <b>{{dl3.product_name|title}}</b>:
            </h6>
            {% else %}
            <h6> Comparing drugs 
                <b>{{dl1.product_name|title}}</b>, and 
                <b>{{dl2.product_name|title}}</b>:
            </h6>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <table class="section-table">
            <tr>
                <td class="section-td">
                    <dl>
                        <dt>Product Name: <a href=/data/{{dl1.id}}>{{ dl1.product_name|title }}</a></dt>
                        <dt>Generic Name: {{ dl1.generic_name|title }}</dt>
                        <dt>Version Date: {{ dl1.version_date }}</dt>
                        <dt>Product Number: {{ dl1.source_product_number }}</dt>
                        <dt>Marketer: {{ dl1.marketer|title }}</dt>
                        <dt>Source: {{ dl1.source }}</dt>
                    </dl>
                </td>
                <td class="section-td">
                    <dl>
                        <dt>Product Name: <a href=/data/{{dl2.id}}>{{ dl2.product_name|title }}</a></dt>
                        <dt>Generic Name: {{ dl2.generic_name|title }}</dt>
                        <dt>Version Date: {{ dl2.version_date }}</dt>
                        <dt>Product Number: {{ dl2.source_product_number }}</dt>
                        <dt>Marketer: {{ dl2.marketer|title }}</dt>
                        <dt>Source: {{ dl2.source }}</dt>
                    </dl>
                </td>
                {% if dl3 %}
                <td class="section-td"> 
                    <dl>
                        <dt>Product Name: <a href=/data/{{dl3.id}}>{{ dl3.product_name|title }}</a></dt>
                        <dt>Generic Name: {{ dl3.generic_name|title }}</dt>
                        <dt>Version Date: {{ dl3.version_date }}</dt>
                        <dt>Product Number: {{ dl3.source_product_number }}</dt>
                        <dt>Marketer: {{ dl3.marketer|title }}</dt>
                        <dt>Source: {{ dl3.source }}</dt>
                    </dl>
                </td>
                {% endif %}
            </tr>
            </table>
        </div>
        <hr>
        <div class="row" id="sectionFilterContainer">   
            <label for="section-filter">Select Section: </label>
            <select name="section-filter" id="sectionFilter" onchange="showSection()">
                <option value="all">All Sections </option>
                <option value="common-sections">All Common Sections </option>
                {% for sec_name in section_names %}
                <option value="{{sec_name|cut:' '}}">{{ sec_name|title }}</option>
                {% endfor %}
            </select>
        </div>
        {% if sections %}
            {% for section in sections %}
                <div class="row sec-content {{section.isCommon}}" id="{{section.section_name|cut:' '}}" style="display:block">
                    <button type="button" class="collapsible"> > {{ section.section_name|title }}</button>
                    <table class="section-table" style="display:none">
                        <tr>
                          {% if section.section_text3 %}
                            <td class="section-td" style="width:34%">
                              <p>{{ section.section_text1|safe }}</p>
                            </td>
                            <td class="section-td" style="width:33%">
                              <p>{{ section.section_text2|safe }}</p>
                            </td>
                            <td class="section-td" style="width:33%">
                                <p>{{ section.section_text3|safe }}</p>
                            </td>
                          {% else %}
                            <td class="section-td" style="width:50%">
                              <p>{{ section.section_text1|safe }}</p>
                            </td>
                            <td class="section-td" style="width:50%">
                              <p>{{ section.section_text2|safe }}</p>
                            </td>
                          {% endif %}
                        </tr>
                    </table>
                </div>
            {% endfor %}
        {% else %}
            <p>No section texts are found.</p>
        {% endif %}
    </div>
{% endblock content %}
{% block footer_scripts %}
    <script>
        /**
         * Get all section heading button elements
         */
        var coll = document.getElementsByClassName("collapsible");
        var i;

        /**
         * Add event listener to all buttons to make section content 
         * collapsible. When a section button is clicked, the section 
         * content will show or hide.
         */
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }

        function showSection() {
            var selected_sec = document.getElementById("sectionFilter").value;
            console.log("selected option is: " + selected_sec)
            if (selected_sec == 'all') {
                const sec_divs = document.getElementsByClassName('sec-content');

                for (const div of sec_divs) {
                    div.style.display = 'block';
                }
            } else if (selected_sec == 'common-sections') { 
                const sec_divs = document.getElementsByClassName('sec-content');

                for (const div of sec_divs) {
                    div.style.display = 'none';
                }

                const common_sec = document.getElementsByClassName('common-section');

                for (const div of common_sec) {
                    div.style.display = 'block';
                }
            } else {
                const sec_divs = document.getElementsByClassName('sec-content');

                for (const div of sec_divs) {
                    div.style.display = 'none';
                }

                sec_div = document.getElementById(selected_sec);
                sec_div.style.display = "block";              
            }
        }
    </script>
{% endblock footer_scripts %}
