{% extends "compare/layout.html" %}

{% block body %}
    <div id="compare-form-block">
        <h5> Search labels to compare:</h5>
        <form action="{% url 'compare:list_labels' %}" method="get">
            <label for="first-label">First Product: </label>
            <input id="first-label" type="text" name="first-label" value="">
            <label for="second-label">Second Product: </label>
            <input id="second-label" type="text" name="second-label" value="">
            <br>
            <input type="submit" value="Get Products to Compare">
        </form>

    {% if labelsFound == True %}
        <hr>
        <form action="{% url 'compare:compare_result' %}" method="get">
            <label for="frist-label">Compare</label>
            <select name="first-label">
                <option value="Select label1">Select label1</option>
                {% for label in drug_labels %}
                <option value="{{ label.product_name }}:{{ label.version_date }}">{{ label.product_name }} ({{ label.version_date }})</option>
                {% endfor %}
            </select>
            <label for="second-label"> Vs </label>
            <select name="second-label">
                <option value="Select label2">Select label2</option>
                {% for label in drug_labels %}
                <option value="{{ label.product_name }}:{{ label.version_date }}">{{ label.product_name }} ({{ label.version_date }})</option>
                {% endfor %}
            </select>
            <br>
            <input type="submit" value="Compare">
        </form>
    {% elif labelsFound == False %}
        <hr>
        <p id="error-msg-display"> No drugs with that name were found. Try different drug name(s).</p>
    {% endif %}
    </div>

    <!-- {% if pname_version %}
        <ul>
            {% for item in pname_version %}
                <ol>{{ item }}</ol>
            {% endfor %}
        </ul>
    {% endif %} -->

{% endblock %}


