{% extends "compare/layout.html" %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div id="compare-form-block">
                    <h5> Search labels to compare:</h5>
                    <form action="{% url 'compare:list_labels' %}" method="get">
                        <div class="mb-3">
                            <label for="first-label" class="form-label">First Drug Name</label>
                            <input type="text" class="form-control" id="first-label" name="first-label" value="" placeholder="drug label name">
                        </div>
                        <div class="mb-3">
                            <label for="second-label" class="form-label">Second Drug Name</label>
                            <input type="text" class="form-control" id="second-label" name="second-label" value="" placeholder="another drug label name (optional)">
                        </div>
                        <button type="submit" class="btn btn-primary">Get Drugs to Compare</button>
                    </form>
                    <br>
            
                    {% if labelsFound == True %}
                        <hr>
                        <br>
                        <h5> Select labels to compare:</h5>
                        <form action="{% url 'compare:compare_result' %}" method="get">
                            <div class="mb-3">
                                <label for="frist-label">Select Drug 1: </label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="first-label">
                                    <option value="Select label1">Select drug label 1</option>
                                    {% for label in drug_labels %}
                                    <option value="{{ label.id }}">{{ label.product_name }} ({{ label.version_date }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="second-label"> Select Drug 2: </label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="second-label">
                                    <option value="Select label2">Select drug label 2</option>
                                    {% for label in drug_labels %}
                                    <option value="{{ label.id }}">{{ label.product_name }} ({{ label.version_date }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Compare Selected Drugs</button>
                        </form>
                    {% elif labelsFound == False %}
                        <hr>
                        <p id="error-msg-display"> No drugs with that name were found. Try different drug name(s).</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    

    <!-- {% if pname_version %}
        <ul>
            {% for item in pname_version %}
                <ol>{{ item }}</ol>
            {% endfor %}
        </ul>
    {% endif %} -->

{% endblock %}


