
header {
    box-shadow: 0px 2px 4px  rgba(0,0,0,.5);
    background-color: #19a2af;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.content {
    margin: 80px 20px 20px 20px;
}

.brand {
    font-size: 2rem;
    margin-top: 16px;
    margin-left: 40px;
    padding-bottom: 16px;
    float: left;
}

.brand-logo {
    color: #fff;
}

.brand-logo:hover {
    color: #f3f1f1;
    border-bottom: 5px solid #19a2af;
    text-decoration: none;
}

.nav {
    margin-top: 30px;
    margin-right: 40px;
    float: right;
}

ul.nav {
    text-align: center;
}

ul.nav li {
    display: inline-block;
}

.nav-link {
    float: left;
    display: block;
    color: #fdfdfd;
    border-bottom: 5px solid transparent;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 20px;
}

.nav-link:hover {
    color: #d3f7f3;
    border-bottom: 5px solid #19a2af;
}


/* elastic search styles start here */
/* search/static/search/ */
.ais-ClearRefinements {
    margin: 2em 0;
  }
  
  .ais-SearchBox {
    margin: 2em 0;
  }
  
  .ais-Pagination {
    margin-top: 2em;
  }
  
  .left-panel {
    float: left;
    width: 350px;
  }
  
  .right-panel {
    margin-left: 400px;

  }
  
  /**.ais-InstantSearch {
    max-width: 960px;
    overflow: hidden;
    margin: 0 auto;
  }**/
  
  .ais-Hits-item {
    width: 95% !important;
    margin-bottom: 1em;
  }
  
  .ais-Hits-item img {
    margin-right: 1em;
  }
  
  .hit-name {
    margin-bottom: 0.5em;
  }
  
  .hit-description {
    color: #19a2af;
    font-size: 16px;
    margin-bottom: 1em;
  }

  .ais-HitsPerPage-select {
    width: 100%;
    margin-bottom: 1rem;
  }

  .ais-MenuSelect-select {
    margin-bottom: 1rem;
  }

  .ais-RefinementList-checkbox {
    margin-right: 1rem;
  }

  .ais-Hits-item:empty{ 
    display: none;
  }