
header {
    box-shadow: 0px 2px 4px  rgba(0,0,0,.5);
    background-color: #1f8ecd;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.content {
    margin: 80px 20px 20px 20px;
}

.brand {
    font-size: 2rem;
    margin-top: 16px;
    margin-left: 40px;
    padding-bottom: 16px;
    float: left;
}

.brand-logo {
    color: #fff;
}

.brand-logo:hover {
    color: #bbb;
    border-bottom: 5px solid rgb(0, 149, 255);
    text-decoration: none;
}

.nav {
    margin-top: 26px;
    margin-right: 40px;
    float: right;
}

ul.nav {
    text-align: center;
}

ul.nav li {
    display: inline-block;
}

.nav-link {
    float: left;
    display: block;
    color: #fff;
    border-bottom: 5px solid transparent;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
}

.nav-link:hover {
    color: #bbb;
    border-bottom: 5px solid rgb(0, 149, 255);
}


/* elastic search styles start here */
/* search/static/search/ */
.ais-ClearRefinements {
    margin: 1em 0;
  }
  
  .ais-SearchBox {
    margin: 1em 0;
  }
  
  .ais-Pagination {
    margin-top: 1em;
  }
  
  .left-panel {
    float: left;
    width: 400px;
  }
  
  .right-panel {
    margin-left: 410px;
  }
  
  /**.ais-InstantSearch {
    max-width: 960px;
    overflow: hidden;
    margin: 0 auto;
  }**/
  
  .ais-Hits-item {
    width: 95% !important;
    margin-bottom: 1em;
  }
  
  .ais-Hits-item img {
    margin-right: 1em;
  }
  
  .hit-name {
    margin-bottom: 0.5em;
  }
  
  .hit-description {
    color: #888;
    font-size: 14px;
    margin-bottom: 0.5em;
  }
