<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <title>{% block title %}DrugLabelExplorer{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

     <header class="nav-down">
            
            <div class="brand">
            <a class="brand-logo" href="{% url 'users:index' %}">Drug Label Explorer</a>
            </div>

            <div>
            <ul class="nav">
            {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
            </div>

        </header>

            <div class="welcome">
                {% if user.is_authenticated %}
                    Hello <strong>{{ user.username }}</strong>
                {% else %}
                    Sign in to access MyLabels.
                {% endif %}
            </div>
        
        <hr>

        {% block body %}
        {% endblock %}
    </body>
</html>