.row {
    margin: 1px;
    padding-left: 10px; 
}

/* Style collapsible section button */
.collapsible {
    background-color:rgb(149, 210, 238);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: auto;
    font-size: 15px;
}

/* Change background color of button when hovering over it and when clicked on */
.active, .collapsible:hover {
    background-color: rgb(88, 191, 239);
}

/* Style the collapsible content. Note: hidden by default */
.sec-content {
    padding-left: 10px;
}

.section-table, #headerTable {
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.section-td {
    border: 3px solid black;
    vertical-align: top;
}

/* highlight green if the sections are exact matches */
.td-matching-section {
    border:3px solid green;
    vertical-align: top;
}

/* highlight red if the sections have diffs */
.td-diff-section {
    border:3px solid red;
    vertical-align: top;
}

.diff-text-highlight {
    background-color:rgba(240, 14, 14, 0.575);
}

#sectionFilterContainer {
    margin: 10px;
}
#sectionFilter {
    margin: 5px;
}