.row {
    margin: 2px;
    padding-left: 12px; 
}

/* Style collapsible section button */
.collapsible {
    background-color:  #19a2af;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: auto;
    font-size: 15px;
}

/* Change background color of button when hovering over it and when clicked on */
.active, .collapsible:hover {
    background-color:  #b0b4b4;
}

/* Style the collapsible content. Note: hidden by default */
.sec-content {
    padding-left: 10px;
}

.section-table, #headerTable {
    table-layout: fixed;
    border: 1px solid  #cfd0d0;
    border-collapse: collapse;
    width: 100%;
}

.section-td {
    border: 2px solid  #ced0d0;
    vertical-align: top;
}

/* highlight green if the sections are exact matches */
.td-matching-section {
    border:3px solid green;
    vertical-align: top;
}

/* highlight red if the sections have diffs */
.td-diff-section {
    border:3px solid rgba(243, 99, 186, 0.785);
    vertical-align: top;
}

.diff-text-highlight {
    background-color:rgba(243, 99, 186, 0.785);
}

#sectionFilterContainer {
    margin: 10px;
}
#sectionFilter {
    margin: 10px;
}