{% extends "search/base.html" %}
{% block head %}
<!-- Searchkit assets -->
<script src="https://cdn.jsdelivr.net/npm/@searchkit/instantsearch-client@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>
<script src="https://cdn.jsdelivr.net/npm/searchkit@latest"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css"/>
<link href="../../static/search/styles.css" rel="stylesheet" />

{% endblock %}
{% block content %}

<div class="ais-InstantSearch">
    <h2>Filters</h2>
    <div id="current-refinements"></div>
    <div class="left-panel">
        <div id="hits-per-page"></div>
        <h3>Section Name</h3>
        <div id="section-name-filter"></div>
        <h3>Drug Label Source</h3>
        <div id="drug-label-source-filter"></div>
        <h3>Drug Label Product Name</h3>
        <div id="drug-label-product-name-filter"></div>
        <h3>Drug Label Generic Name</h3>
        <div id="drug-label-generic-name-filter"></div>
    </div>
    <div class="right-panel">
      <div id="searchbox" class="ais-SearchBox"></div>
      <div id="hits"></div>
      <div id="pagination"></div>
    </div>
  </div>
   
{% endblock %}

{% block footer_scripts %}
{% load static %}

{{ ELASTIC_HOST|json_script:"ELASTIC_HOST" }}
<script>
  const ELASTIC_HOST = JSON.parse(document.getElementById('ELASTIC_HOST').textContent);
</script>
<script type="text/javascript" src="{% static 'search/es_search.js' %}"></script>
{% endblock %}