{% extends "search/base.html" %}
{% block head %}
<!-- Searchkit assets -->
<script src="https://cdn.jsdelivr.net/npm/@searchkit/instantsearch-client@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>
<script src="https://cdn.jsdelivr.net/npm/searchkit@latest"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css"/>

<style>
    .ais-ClearRefinements {
        margin: 1em 0;
      }
      
      .ais-SearchBox {
        margin: 1em 0;
      }
      
      .ais-Pagination {
        margin-top: 1em;
      }
      
      .left-panel {
        float: left;
        width: 400px;
      }
      
      .right-panel {
        margin-left: 410px;
      }
      
      /**.ais-InstantSearch {
        max-width: 960px;
        overflow: hidden;
        margin: 0 auto;
      }**/
      
      .ais-Hits-item {
        margin-bottom: 1em;
      }
      
      .ais-Hits-item img {
        margin-right: 1em;
      }
      
      .hit-name {
        margin-bottom: 0.5em;
      }
      
      .hit-description {
        color: #888;
        font-size: 14px;
        margin-bottom: 0.5em;
      }

</style>

{% endblock %}
{% block content %}

<div class="ais-InstantSearch">
    <h2>Filters</h2>
    <div id="current-refinements"></div>
    <div class="left-panel">
        <div id="hits-per-page"></div>
        <h3>Section Name</h3>
        <div id="section-name-filter"></div>
        <h3>Drug Label Source</h3>
        <div id="drug-label-source-filter"></div>
        <h3>Drug Label Product Name</h3>
        <div id="drug-label-product-name-filter"></div>
        <h3>Drug Label Generic Name</h3>
        <div id="drug-label-generic-name-filter"></div>
    </div>
    <div class="right-panel">
      <div id="searchbox" class="ais-SearchBox"></div>
      <div id="hits"></div>
      <div id="pagination"></div>
    </div>
  </div>
   
{% endblock %}

{% block footer_scripts %}
<script type="text/javascript">
    /* global instantsearch algoliasearch */

    // Basic auth with username/password is not supported - bug: see https://github.com/searchkit/searchkit/issues/1235
    const sk = new Searchkit({
      connection: {
        host: "https://localhost:9200",
        apiKey: "VzIzb19JWUIzUFlMNDNDVnBIYk06WTA4UkJBMmlSak9mSmM0NklzMXJ6QQ=="
      },
      search_settings: {
        highlight_attributes: ["section_name", "drug_label_product_name", "drug_label_generic_name"],
        snippet_attributes: ["section_text"],
        search_attributes: ["drug_label_product_name", "section_name", "section_text", "drug_label_generic_name"],
        result_attributes: ["id", "label_product_id", "section_name", "section_text", "drug_label_product_name", "drug_label_generic_name", "drug_label_source", "drug_label_link", "drug_label_version_date", "drug_label_product_number"],
        facet_attributes: [
            "drug_label_source",
            {
                field: "section_name.keyword",
                type: "string",
                attribute: "section_name",
            }, {
                field: "drug_label_product_name.keyword",
                type: "string",
                attribute: "drug_label_product_name",
            }, {
                field: "drug_label_generic_name.keyword",
                type: "string",
                attribute: "drug_label_generic_name",
            }
        ],
      }
    })

    const search = instantsearch({
      indexName: "productsection",
      searchClient: SearchkitInstantsearchClient(sk)
    });

    search.addWidgets([
        instantsearch.widgets.searchBox({
            container: "#searchbox"
        }),
        instantsearch.widgets.currentRefinements({
            container: "#current-refinements"
        }),
        instantsearch.widgets.menuSelect({
            container: "#section-name-filter",
            attribute: "section_name",
            limit: 100
        }),
        instantsearch.widgets.refinementList({
            container: "#drug-label-source-filter",
            attribute: "drug_label_source"
        }),
        instantsearch.widgets.menuSelect({
            container: "#drug-label-product-name-filter",
            attribute: "drug_label_product_name",
            limit: 100
        }),
        instantsearch.widgets.menuSelect({
            container: "#drug-label-generic-name-filter",
            attribute: "drug_label_generic_name",
            limit: 100
        }),
        instantsearch.widgets.hits({
            container: "#hits",
            templates: {
                item(hit, { html, components }) {
                    return html`
                    <h2>
                        ${components.Highlight({ attribute: 'drug_label_product_name', hit })}
                    </h2>
                    <h3>
                        Generic Name: ${components.Highlight({ attribute: 'drug_label_generic_name', hit })}
                    </h3>
                    <h3>
                        Section: ${components.Highlight({ attribute: 'section_name', hit })}
                    </h3>
                    <ul>
                        <li>Source: ${hit.drug_label_source}</li>
                        <li>Version Date: ${hit.drug_label_version_date}</li>
                        <li>Product Number: ${hit.drug_label_product_number}</li>
                        <li>Link: <a href="${hit.drug_label_link}">${hit.drug_label_link}</a></li>
                    </ul>
                    <p>${components.Snippet({ attribute: 'section_text', hit })}</p>
                    `;
                }
            }
        }),
        instantsearch.widgets.pagination({
            container: "#pagination"
        }),
        instantsearch.widgets.hitsPerPage({
            container: '#hits-per-page',
            items: [
                { label: '10 hits per page', value: 10, default: true },
                { label: '20 hits per page', value: 20 },
                { label: '50 hits per page', value: 50 }
            ],
        })
    ]);

    search.start();
  </script>
{% endblock %}