name: Django CI

on:
  push:
    branches: 
      - alex
    path:
      - dle/*
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: pull repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        id: creds
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
        continue-on-error: true

      - name: Login to Amazon ECR  # adapted from https://towardsaws.com/build-push-docker-image-to-aws-ecr-using-github-actions-8396888a8f9e
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Run Prod Setup Script   
        run: |
          cd dle
          chmod 755 aws_setup.sh
          ./aws_setup.sh

      - name: Push Django to ECR  # adapted from https://towardsaws.com/build-push-docker-image-to-aws-ecr-using-github-actions-8396888a8f9e
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: django
          IMAGE_TAG: latest
        run: |
          cd dle
          docker build -t  ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/django:latest .
          docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/django:latest

      - name: Reset ECS Deployment   
        run: |
          SERVICE_NAME=`aws ssm get-parameters --names ecs_service_name --region us-east-1 | jq -r '.Parameters[0].Value'`
          CLUSTER_NAME=`aws ssm get-parameters --names ecs_cluster_name --region us-east-1 | jq -r '.Parameters[0].Value'`
          aws ecs update-service --cluster $CLUSTER_NAME --service $SERVICE_NAME --force-new-deployment


