name: linting style check

on:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: .

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: './dle/requirements.txt'
      - name: Install deps using Pip
        run: pip install -r ./dle/requirements-dev.txt
        if: steps.python-cache.outputs.cache-hit != 'true'
      - name: Run isort
        run: isort --filter-files --check-only --diff --settings-path dle/pyproject.toml --profile black dle/compare dle/data dle/dle dle/search dle/users
      - name: Run black
        run: black --check --diff --config dle/pyproject.toml dle/compare dle/data dle/dle dle/search dle/users
      - name: Run flake8
        run: flake8 --config dle/.flake8 dle/compare dle/data dle/dle dle/search dle/users
